.meetings_section {
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content:center;
}
.meeting_sections {
    padding: 0 0 1rem 1rem;
}
.meetings_section--right {
width:25%;
float:right;
padding:0 .5rem;
}
.meetings_section--left {
     width: 75%;
     float:left;

}
.meeting-content {
    margin: 2rem 0;
    padding: 2rem 1rem;
     box-shadow: 0 .2rem .5rem .2rem hsl(250deg, 100%, 90%);
     border-left: .5rem solid rgba(200, 0, 255, 0.8);
     border-radius: .5rem 0 0 .5rem;
}
.meeting-title{
    color: greenyellow;
}
.meetings_lists{
    height: 100%;
    padding: 1rem .5rem 3rem .5rem;
    font-size: 14px;
    font-stretch: narrower;
    box-shadow: none;
}
.meeting_essentials ul>li{
    color: azure;
    cursor: default;
}
.form_group {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    padding: 1rem .5rem;
    font-size: small;
}
.form_group label{
    width: 100px;
    text-align: left;
    color: black;
    font-size: .85rem;
}
.meeting_form_control {
    width: 10rem;
    margin: 0 .5rem;
    padding: .5rem;
    height: 3rem;
    display: flex;
    border-radius: .5rem;
    text-align: center;
    background-color: rgba(235, 232, 232, 0.8);
    border: transparent;
    font-size: 0.75rem;
}
.meeting_btns {
    width: 7rem auto;
    padding: .2rem;
    border-radius: .3rem;
    outline:none;
    border: transparent;
    margin: 0 .5rem;
}
.btns--view {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items:center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.meetings_btns-group {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;

}
.btn__cancel{
    padding: .5rem;
    outline: none;
    border: 0;
    background: rgb(187, 1, 1);
}
.btn__delete--meeting, .btn__review--meeting {
    min-width: 4rem;
    max-width: 8rem;
    /* width: 6rem; */
    float: right;
    margin: .5rem;
    padding: .3rem;
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: .1px;
}
