.posts-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
fieldset #registration__section{
    width: 100%;
    padding: .5rem;
}
hr {
    margin: 1rem 0;
}
.form__control{
    width: 100%;
    padding: .5rem;
    font-size: .9rem;
    font-weight: 500;
    font-stretch: narrower;
    outline: 0, 0, 0, 0;
    outline-color: rgba(200, 0, 255, 0.9);
    border: transparent;
    background-color: rgba(235, 232, 232, 0.8);
    color: rgba(0, 0, 0, 0.9);
    letter-spacing: normal;
    line-height:  1;
}
#form_group--footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#form_group--footer>
.btn{
    margin: 0 .5rem;
    min-width: 5rem;
    min-height: 2rem;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 700;
    /* letter-spacing: 0.6vmh; */
    padding: .3rem;
    text-align: center;
}
.btn__submit{
    outline: none;
    border: 0;
    /* background-image: linear-gradient(to right bottom,
        rgba(126,213, 111, 0.8),
        rgba(40, 180, 131, 0.8)); */
    background-image: linear-gradient(to right bottom, rgba(40, 180, 131, 0.8), rgba(13, 175, 83, .8));
}
.btn__close{
    outline: none;
    border: 0;
    background-image: linear-gradient(to right bottom, rgba(230, 26, 26, 0.8), rgba(255, 27, 27, .8));
}
.btn__add {
    min-width: 5rem;
    min-height: 2rem;
    font-size: medium;
    font-family: inherit;
    padding: .3rem;
    text-align: center;
    outline: none;
    border: 0;
    background-color: rgb(13, 175, 83);
}
.btn__add:hover,
.btn__close:hover,
.btn__submit:hover{
    padding: none;
    border-radius: none;
}
