.section-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cards-information{
     flex-wrap: wrap;
     box-shadow: 0 .2rem .5rem .2rem hsl(250deg, 100%, 90%);
     border-left: .5rem solid rgba(200, 0, 255, 0.8);
     border-radius: .5rem 0 0 .5rem;
     margin: 2rem 0;
     padding : 1rem;
}
.row .col-1-of-4 {
    width: calc((100% - 1 * 6rem)/4);
    float: left;
}

.features-row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.project-heading {
    padding: .5rem 1rem;
}
.feature-box {
    color: white;
    background-color: rgba(29, 0, 39, .8);
    font-size: 1.2rem;
    padding: 2rem;
    margin: 10% 0;
    text-align: start;
    border-radius: 3px;
    /* box-shadow: 0 1.5rem 1.5rem #777; */
    transition: all .3s;
    cursor: pointer;
}

    .feature-box:hover {
        transform: translateY(-1.5rem) scale(1.03);
        color: whitesmoke;
    }
[class*=img__] {
    height: 200px;
    width: 100%;
    /* border-radius: 50%; */
    font-size: 6rem;
    padding: 0;
}